footer{
    font: 14px/150% var(--font-family);

    .container{
        display: flex; 
        align-items: center;
        gap: 24px;
        padding-block: 1rem; 

        & > a:first-child{
            margin-right: auto;
        }
    }
}